/* -------------
Google font 
--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
hr{
    border: 1px solid #D1D1D1;
}
/* top player style */
.top-players{
    margin-bottom: 30px;
}

.section-title{
    color: #562EFF;
    font-size: 24px;
    padding-top: 3px;
}
main{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.container{
    width: 870px;
    background-color: #fff;
    padding: 30px;
    margin-top: 16px;
    border-radius: 5px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 29px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.players-name{
    margin-left: 16px;
    font-size: 18px;
}
/*------------- 
  Blog Styles 
---------------*/
.blogs{
    display:grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-column-gap: 37px;
}
.blog{
    display: flex;

}

.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9f9f9f;
}
.blog-author a {
    text-decoration: none;
    color:#562EFF;
}
/* ----------
Course Styles
 ------------*/
.course{
    box-shadow:0px 3px 4px grey;
    height: 300px;
    padding:3%;
    border-radius: 5px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course .course-banner img{
    width: 253px;
    height: 114px;
 }
 .coures-info{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width:98%;
 }

 .coures-duration{
     color: #FF4A60;
     background-color:#FFE4E8 ;
     border-radius: 14px;
     font-size: 14px;
     padding: 2px 7px;

 }
 .fa-star{
     font-size: 12px;
 }
 .fa-star.filled{

    color: #FFC014;
    
} 
.fa-star.empty{

   color: #AEAEAE;
} 
.fa-clock{
     color: #FF4A60;
     
}

/*============

 Media Qurey 

============*/
@media only screen  and (max-width:688px){
    .section-title{
        margin-left: 3%;
    }

    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat( 1,1fr);

    }
    .blog{
        margin-left: 3%;
    }


    .player, .blog{
        flex-direction: column; 
    }
    .course{
        margin: 6%;
    }
}